nav#Contactus {
    width: 100%;
    background: #2d3035;
    color: #6a6c70;
    /* border-right: 1px solid #34373d; */
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

    nav#Contactus a {
        color: inherit;
        text-decoration: none;
        position: relative
    }

        nav#Contactus a[data-toggle="collapse"]::after {
            content: '\f104';
            display: inline-block;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'FontAwesome';
            position: absolute;
            top: 50%;
            right: 20px
        }

        nav#Contactus a[aria-expanded="true"] {
            background: #34373d
        }

            nav#Contactus a[aria-expanded="true"]::after {
                content: '\f107'
            }

        nav#Contactus a i {
            font-size: 1.2em;
            margin-right: 10px;
            -webkit-transition: none;
            transition: none
        }

    nav#Contactus ul {
        max-height: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2d3035;
    }

    nav#Contactus li {
        position: relative;
        float: left;
        width: 100%;
    }


    nav#Contactus .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        background: none;
        padding: 4px;
        border: 3px solid #282b2f
    }

    nav#Contactus li a {
        padding: 18px 20px;
        display: block;
        font-weight: 400;
        display: block;
        text-decoration: none;
    }

        nav#Contactus li a:hover {
            background: #34373d
        }

            nav#Contactus li a:hover i {
                color: #ff0c0c96
            }

        nav#Contactus li a i {
            margin-right: 20px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            padding-right: 20px;
            border-right: 1px solid #454649
        }

    nav#Contactus li li a {
        padding: 14px;
        padding-left: 60px;
        background: #22252a
    }

        nav#Contactus li li a:hover {
            background: #292c32
        }

            nav#Contactus li li a:hover i {
                color: #ff0c0c96
            }

    nav#Contactus li::before {
        content: '';
        width: 2px;
        height: 100%;
        background: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99
    }

    nav#Contactus li.active::before {
        background: #ff0c0c96
    }

    nav#Contactus li.active > a {
        background: #34373d;
        color: #bfc1c4
    }

    nav#Contactus li.active i {
        color: #ff0c0c96
    }

    nav#Contactus li li.active > a {
        background: #292c32
    }

    nav#Contactus.shrinked {
        width: 80px
    }

        nav#Contactus.shrinked .sidebar-header {
            padding: 10px
        }

            nav#Contactus.shrinked .sidebar-header .title {
                display: none
            }

        nav#Contactus.shrinked span.heading {
            margin-left: 0;
            display: block;
            text-align: center;
            font-size: 1rem
        }

        nav#Contactus.shrinked ul {
            max-height: none
        }

            nav#Contactus.shrinked ul a {
                padding: 14px 5px;
                display: block;
                font-weight: 400;
                text-align: center;
                font-size: 0.8rem;
                word-break: break-word
            }

            nav#Contactus.shrinked ul i {
                font-size: 1.2rem;
                text-align: center !important;
                width: 100%;
                display: block !important;
                border: none !important;
                padding: 0 !important
            }

            nav#Contactus.shrinked ul ul a {
                padding-left: 10px
            }

        nav#Contactus.shrinked a[data-toggle="collapse"]::after {
            content: '\f107';
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            position: absolute;
            top: 88%;
            left: 50%
        }

        nav#Contactus.shrinked a[aria-expanded="true"]::after {
            content: '\f106'
        }
