/* your styles go here */

button.d-none.d-sm-inline {
    background-color: #db6574;
    border: 1px solid #2d3035;
    color: #22252a;
}

h5, .h5 {
    font-size: 0.9rem!important;
}

.table {
    color: #9E9E9E!important;
}

.container {
    margin: 10px 10px;
    width: 100%;
}

nav.navbar {
    border-bottom: 1px solid #db6570!important;
}