@page "/Pricing"

<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Pricing tables        </li>
    </ul>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center py-5">
                        <div class="card-category">Free</div>
                        <div class="display-3 my-5 text-light">$0</div>
                        <ul class="text-small list-unstyled lh-2 mb-5">
                            <li><strong>3</strong> Users</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Personal and commercial use </li>
                            <li><i aria-hidden="true" class="fa fa-times text-danger mr-2"></i> Multiple developers	</li>
                            <li><i aria-hidden="true" class="fa fa-times text-danger mr-2"></i> Create a single website/application	</li>
                            <li><i aria-hidden="true" class="fa fa-times text-danger mr-2"></i> Create one SaaS Application	</li>
                        </ul>
                        <div class="text-center"><a href="#" class="btn btn-outline-light px-4">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-status bg-primary"></div>
                    <div class="card-body text-center py-5">
                        <div class="card-category">Premium</div>
                        <div class="display-3 my-5 text-light">$49</div>
                        <ul class="text-small list-unstyled lh-2 mb-5">
                            <li><strong>10</strong> Users</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Personal and commercial use </li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Multiple developers	</li>
                            <li><i aria-hidden="true" class="fa fa-times text-danger mr-2"></i> Create a single website/application	</li>
                            <li><i aria-hidden="true" class="fa fa-times text-danger mr-2"></i> Create one SaaS Application	</li>
                        </ul>
                        <div class="text-center"><a href="#" class="btn btn-primary px-4">Your current plan</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center py-5">
                        <div class="card-category">Enterprise</div>
                        <div class="display-3 my-5 text-light">$99</div>
                        <ul class="text-small list-unstyled lh-2 mb-5">
                            <li><strong>100</strong> Users</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Personal and commercial use </li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Multiple developers	</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Create a single website/application	</li>
                            <li><i aria-hidden="true" class="fa fa-times text-danger mr-2"></i> Create one SaaS Application	</li>
                        </ul>
                        <div class="text-center"><a href="#" class="btn btn-outline-light px-4">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center py-5">
                        <div class="card-category">Unlimited</div>
                        <div class="display-3 my-5 text-light">$139</div>
                        <ul class="text-small list-unstyled lh-2 mb-5">
                            <li><strong>Unlimited</strong> Users</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Personal and commercial use </li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Multiple developers	</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Create a single website/application	</li>
                            <li><i aria-hidden="true" class="fa fa-check text-success mr-2"></i> Create one SaaS Application	</li>
                        </ul>
                        <div class="text-center"><a href="#" class="btn btn-outline-light px-4">Choose plan</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
