@page "/Error404"

<div class="container-fluid px-3">
    <div class="row min-vh-100">
        <div class="col-md-5 col-lg-6 col-xl-4 px-lg-5 d-flex align-items-center">
            <div class="w-100">
                <div class="text-center">
                    <img src="/DarkTheme/img/brand/brand-1.svg" alt="..." style="max-width: 6rem;" class="img-fluid mb-4">
                    <h1 class="display-4 text-gray-light mb-3">Error404</h1>
                    <h4>Oops, sorry the page you are looking for does not exists.</h4>
                </div>
                
                <p class="text-center text-muted small mt-5"><a href="/" class="external">GO HOME</a></p>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
            <!-- Image-->
            <div style="background-image: url(/DarkTheme/img/error-bg2.jpg);" class="bg-cover h-100 mr-n3"></div>
        </div>
    </div>
</div>
@code {

}
