@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-center">
    <img src="/DarkTheme/img/brand/brand-1.svg" alt="..." style="max-width: 6rem;" class="img-fluid mb-4">
    <p>
        Please check your email to reset your password.
    </p>
    <a id="logout" href="/" class="nav-link">
        <i class="icon-home"></i>
        <span class="d-none d-sm-inline">Go Home</span>
    </a>
</div>