@{
    Layout = "/Pages/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid px-3">
    <div class="row min-vh-100 bg-gray-dark">
        <div class="col-md-5 col-lg-6 col-xl-4 px-lg-5 d-flex align-items-center">
            <div class="w-100 py-5">
                @RenderBody()
                <p class="text-center text-muted small mt-5">Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin" class="external">Planetthorn Designs</a></p>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
            <div style="background-image: url(/DarkTheme/img/photos/victor-ene-1301123-unsplash.jpg);" class="bg-cover h-100 mr-n3"></div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
