@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <title>Dark Bootstrap Admin</title>
    <base href="/" />

    <link rel="stylesheet" href="~/DarkTheme/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/DarkTheme/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/DarkTheme/css/font.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/DarkTheme/css/style.default.premium.css" id="theme-stylesheet">

    <link rel="stylesheet" href="~/DarkTheme/css/custom.css">
    <link rel="stylesheet" href="~/DarkTheme/css/contactus.css">
    <link rel="stylesheet" href="~/DarkTheme/vendor/summernote/summernote-bs4.css">
    <link rel="shortcut icon" href="~/DarkTheme/img/favicon.ico">

    <link href="~/particles/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid px-3">
        <div class="row min-vh-100 bg-gray-dark">
            <div class="col-md-5 col-lg-6 col-xl-4 px-lg-5 d-flex align-items-center">
                <div class="w-100 py-5">
                    @RenderBody()
                    <p class="text-center text-muted small mt-5">Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin" class="external">Planetthorn Designs</a></p>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
                <div style="background-image: url(/DarkTheme/img/photos/victor-ene-1301123-unsplash.jpg);" class="bg-cover h-100 mr-n3"></div>
            </div>
        </div>
    </div>

    <script src="~/DarkTheme/vendor/jquery/jquery.min.js"></script>
    <script src="~/DarkTheme/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/DarkTheme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/DarkTheme/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/DarkTheme/vendor/chart.js/Chart.min.js"></script>
    <script src="~/DarkTheme/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/DarkTheme/js/charts-home.js"></script>

    @*<script src="~/DarkTheme/vendor/messenger-hubspot/build/js/messenger.min.js"></script>
        <script src="~/DarkTheme/vendor/messenger-hubspot/build/js/messenger-theme-flat.js"></script>*@
    <script src="~/DarkTheme/js/home-premium.js"></script>
    <script src="~/DarkTheme/js/front.js"></script>

    <!-- Summernote-->
    <script src="~/DarkTheme/vendor/summernote/summernote-bs4.min.js"></script>
    <!-- Summernote init-->
    <script src="~/DarkTheme/js/forms-texteditor.js"></script>


    <script src="~/particles/js/particles.js"></script>
    <script src="~/particles/js/app.js"></script>
    @*<script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>*@

    <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function () {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);


    </script>


    <script>
        function ShowErrorMessage(message) {
            debugger
            var messageBox = $("#ErrorMessageDisplay");
            messageBox.css("display", "block");

            var messageBoxText = $("#ErrorMessageDisplayMessage");
            messageBoxText.html(message);
        }

    </script>
    @*<script src="_framework/blazor.server.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
