@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dark Bootstrap Admin</title>
    <base href="/" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">

    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />

    <!-- inside of body section and after the <app> tag  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/DarkTheme/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/DarkTheme/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/DarkTheme/css/font.css">
    <!-- Google fonts - Muli-->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap" rel="stylesheet">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/DarkTheme/css/style.default.premium.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/DarkTheme/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/DarkTheme/img/favicon.ico">

</head>
<body>

    @RenderBody()

    <script src="/DarkTheme/vendor/jquery/jquery.min.js"></script>
    <script src="/DarkTheme/vendor/popper.js/umd\popper.min.js"></script>
    <script src="/DarkTheme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/DarkTheme/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/DarkTheme/vendor/chart.js/Chart.min.js"></script>
    <script src="/DarkTheme/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/DarkTheme/js/charts-home.js"></script>
    <!-- Notifications-->
    <script src="/DarkTheme/vendor/messenger-hubspot/build/js/messenger.min.js"></script>
    <script src="/DarkTheme/vendor/messenger-hubspot/build/js/messenger-theme-flat.js"></script>
    <script src="/DarkTheme/js/home-premium.js"></script>
    <script src="/DarkTheme/js/front.js"></script>

    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>

    <script>
        function ShowErrorMessage(message) {
            debugger
            var messageBox = $("#ErrorMessageDisplay");
            messageBox.css("display", "block");

            var messageBoxText = $("#ErrorMessageDisplayMessage");
            messageBoxText.html(message);
        }

        
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
