@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <title>Dark Bootstrap Admin</title>
    <base href="/" />

    <link rel="stylesheet" href="~/DarkTheme/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/DarkTheme/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/DarkTheme/css/font.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/DarkTheme/css/style.default.premium.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/DarkTheme/css/custom.css">
    <link rel="shortcut icon" href="~/DarkTheme/img/favicon.ico">

</head>
<body>

    @RenderBody()

    <script src="~/DarkTheme/vendor/jquery/jquery.min.js"></script>
    <script src="~/DarkTheme/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/DarkTheme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/DarkTheme/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/DarkTheme/vendor/chart.js/Chart.min.js"></script>
    <script src="~/DarkTheme/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/DarkTheme/js/charts-home.js"></script>

    <script src="~/DarkTheme/vendor/messenger-hubspot/build/js/messenger.min.js"></script>
    <script src="~/DarkTheme/vendor/messenger-hubspot/build/js/messenger-theme-flat.js"></script>
    <script src="~/DarkTheme/js/home-premium.js"></script>
    <script src="~/DarkTheme/js/front.js"></script>

    @*<script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>*@

    <script>
        function ShowErrorMessage(message) {
            debugger
            var messageBox = $("#ErrorMessageDisplay");
            messageBox.css("display", "block");

            var messageBoxText = $("#ErrorMessageDisplayMessage");
            messageBoxText.html(message);
        }

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
