<a href="#pagesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-website"></i>Pages </a>
<ul id="pagesDropdown" class="collapse list-unstyled ">
    @*<li><a href="pages-contacts.html">Contacts</a></li>
    <li><a href="pages-invoice.html">Invoice</a></li>
    <li><a href="login.html">Login page</a></li>
    <li><a href="login-2.html">Login v.2 <span class="badge badge-info">New</span></a></li>
    <li><a href="pages-profile.html">Profile</a></li>
    <li><a href="pages-pricing.html">Pricing table</a></li>*@
    <li>
        <NavLink class="nav-link" href="DisplayEmployeeData">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Show Employees
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="ShowCourses">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Show Courses
        </NavLink>
    </li>
</ul>

@code {

}
