@inherits LayoutComponentBase
<!--Error Message-->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="ErrorMessageDisplay" style="display:none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="ErrorMessageDisplayMessage"></span>
    </div>
<!--Error Message end-->

<!-- Header section -->
<header class="header-section">
    <div class="container">
        <a href="/" class="site-logo">
            <img src="img/logo.png" alt="logo">
        </a>
        <!-- Switch button -->
        <div class="nav-switch">
            <div class="ns-bar"></div>
        </div>
        <div class="header-right">
            <AuthorizeView>
                <Authorized>
                    <ul class="main-menu">
                        <li class="active">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Home
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="FetchEmployee">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Show Employees
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="ShowCourses">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Show Courses
                            </NavLink>
                        </li>
                    </ul>
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>

            <div class="header-btns">
                <LoginDisplay />
            </div>
        </div>
    </div>
</header>

<!-- Header section end -->

<div>
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg/3.jpg"></section>
    <!-- Page Top section end -->
    <!-- Body section -->
    @Body
    <!-- Body section end -->
    <!-- Footer top section -->
    <section class="footer-top-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="footer-widget about-widget">
                        <img src="img/logo.png" alt="">
                        <p>Sed ultrices interdum libero, laoreet facilisis dui fringilla ut. Nullam nisi sem, tristique ut sapien nec, tempus auctor purus. Maecenas eu lectus non dolor euismod dignissim vitae vel tortor. </p>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="footer-widget">
                        <h5 class="fw-title">Our Products</h5>
                        <ul>
                            <li><a href="#">Web Hosting</a></li>
                            <li><a href="#">Reseller Hosting</a></li>
                            <li><a href="#">VPS Hosting</a></li>
                            <li><a href="#">Dedicated Servers</a></li>
                            <li><a href="#">Windows Hosting</a></li>
                            <li><a href="#">Cloud Hosting</a></li>
                            <li><a href="#">Linux Servers</a></li>
                            <li><a href="#">WordPress Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="footer-widget">
                        <h5 class="fw-title">Our Solutions</h5>
                        <ul>
                            <li><a href="">Reseller Hosting</a></li>
                            <li><a href="">WordPress Hosting</a></li>
                            <li><a href="">VPS Hosting</a></li>
                            <li><a href="">Dedicated Servers</a></li>
                            <li><a href="">Windows Hosting</a></li>
                            <li><a href="">Cloud Hosting</a></li>
                            <li><a href="">Linux Servers</a></li>
                            <li><a href="">Web Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="footer-widget">
                        <h5 class="fw-title">Our Products</h5>
                        <ul>
                            <li><a href="#">Dedicated Servers</a></li>
                            <li><a href="#">Windows Hosting</a></li>
                            <li><a href="#">Cloud Hosting</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        <h5 class="fw-title">Company</h5>
                        <ul>
                            <li><a href="#">Dedicated Servers</a></li>
                            <li><a href="#">Windows Hosting</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer top section end -->
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-nav">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
</div>


<style>
    .page-top-section {
        background-image: url("img/page-top-bg/3.jpg");
    }

    .hs-item {
        background-image: url("img/bg.jpg");
    }

    .banner-section {
        background-image: url("img/banner-bg.jpg");
    }

    .Services-section {
        background-image: url("img/service-bg.jpg");
    }
</style>